<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>게시글 목록</title>
</head>
<body>
<div>
    <h2 th:text="#{page.list}">게시글 목록</h2>
    <table th:if="${!posts.isEmpty()}">
        <thead>
        <tr>
            <th th:text="#{label.number}">번호</th>
            <th th:text="#{post.title}">제목</th>
            <th th:text="#{post.commentCount}">댓글 수</th>
            <th th:text="#{post.createdAt}">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.id}"></td>
            <td>
                <a th:href="@{/posts/{postId}(postId=${post.id})}" th:text="${post.title}"></a>
            </td>
            <td th:text="${post.commentCount}"></td>
            <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <p th:if="${posts.isEmpty()}" th:text="#{label.empty}">등록된 게시글이 없습니다.</p>
    <a th:href="@{/posts/add}" th:text="#{button.add}">게시글 작성</a>
</div>
</body>
</html>